projekt_na_zaliczenie/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    TRAIN*,
    TDRIVER*)>

<!ELEMENT TRAIN EMPTY>
<!ATTLIST TRAIN
    T_ID CDATA #REQUIRED
    NUMBER CDATA #IMPLIED
    YOP CDATA #IMPLIED
    DRIVER_ID CDATA #IMPLIED
>

<!ELEMENT TDRIVER EMPTY>
<!ATTLIST TDRIVER
    TD_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    START_WORK CDATA #IMPLIED
>

